.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  align-items: flex-start;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  background-color: #cfd7e7;
  width: 60%;
}

.container > button:focus {
  background-color: rgb(105, 200, 238);
  outline: none;
}

.container > button {
  border-radius: 8px;
  background-color: #eef5ee;
  border: white;
  color: black;
  font-family: "Century Gothic";
  font-weight: bold;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 2px #7e8594;
}

.btn {
  font-size: 14px;
  border: none;
  outline: rgb(105, 200, 238);
  color: rgb(105, 200, 238);
  background-color: rgb(236, 228, 228);
  margin-top: 10px;
  padding: 10px;
}
.btn:focus {
  box-shadow: 2px 2px 2px #7e8594;
}

.joke {
  padding: 30px 5px;
  width: 60%;
  margin: auto;
  background-color: rgb(105, 200, 238);
  color: white;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
  .container > button {
    margin: 5px 3px;
    padding: 10px 10px;
  }
  .joke {
    padding: 30px 5px;
    width: 90%;
    margin: auto;
  }
}
